* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* navbar */
/* 
.navbar {
  display: block;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 25px; 
  overflow: hidden;
  width: 100%;
  --gunmetal: rgb(59, 120, 200);
  background: var(--gunmetal);
}

.navbar li {
  float: left;
  margin-right: 30px; 

}

.navbar li:last-child {
  margin-right: 0; 
}

.navbar li a {
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  border-radius: 20px;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
} */

/* About Us */

.aboutbody {
  --gunmetal: rgb(240, 242, 239);
  background-color: var(--gunmetal);
}

.about {
  width: 100%;
  padding: 78px 0px;
}

.about img {
  margin-top: 20px;
  height: auto;
  width: 400px;
  border-radius: 120px;
}

.abt-text {
  width: 500px;
}

.abt-text h1 {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.abt-text h1 span {
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  letter-spacing: 1px;
}

.abt-text p {
  color: white;
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.connectbtn {
  display: inline-block;
  --gunmetal: rgb(59, 120, 200);
  background-color: var(--gunmetal);
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.4s;
  border: 2px solid transparent;
  letter-spacing: 1px;
}

.connectbtn:hover {
  background-color: transparent;
  background-color: var(--gunmetal);
  border: 2px solid var(--gunmetal);
  transform: scale(1.1);
}

.connect-section {
  margin-top: 26px;
}

.social-icons a {
  height: 40px;
  width: 40px;
  margin: 4px;
  font-size: 30px;
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* footer */

.footer {
  margin-top: 80px;
  --gunmetal: rgb(59, 120, 200);
  background-color: var(--gunmetal);
}

.foot {
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footlinks h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.footlinks {
  margin-bottom: 100px;
}

.footlinks h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  left: 0;
  bottom: -7px;
  background: white;
}

.footlinks ul li {
  margin-bottom: 15px;
}

.footlinks ul li a {
  font-size: 17px;
  color: #dddddd;
  display: block;
  transition: ease 0.3s;
}

.footlinks ul li a:hover {
  transform: translate(6px);
  color: white;
}

.social a {
  font-size: 25px;
  margin: 4px;
  height: 40px;
  width: 40px;
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: ease 0.3s;
}

.social a:hover {
  transform: scale(1.2);
}
