* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* navbar */

.navbar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 25px; /* Add the unit (e.g., pixels) to the padding value */
  overflow: hidden;
  /* background-color: #164a4a; */
  width: 100%; /* Make the navbar take up the full width of the page */
  --gunmetal: rgb(59, 120, 200);
  background: var(--gunmetal);
}

.navbar li {
  float: left;
  margin-right: 30px; /* Adjust the right margin to increase space between items */
}

.navbar li:last-child {
  margin-right: 0; /* Remove right margin from the last item to prevent extra spacing */
}

.navbar li a {
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  border-radius: 20px;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
}

/* About Us */

.about {
  padding: 78px 0px;
}

.about div {
  width: 100%;
  display: flex;
  justify-content: center; /* display horizontally */
  align-items: center;
}

.about div a {
  font-size: 40px;
  font-weight: 600;
  color: white;
  --gunmetal: rgb(59, 120, 200);
  background: var(--gunmetal);
  padding: 80px;
  padding-bottom: 200px;
  border-radius: 20px;
  margin: 35px;
}

.about div a:hover {
  transform: scale(1.1);
  /* shadow */
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px var(--gunmetal),
    inset -20px 0 80px var(--gunmetal), inset 20px 0 300px var(--gunmetal),
    inset -20px 0 300px var(--gunmetal), 0 0 50px #fff,
    -10px 0 80px var(--gunmetal), 10px 0 80px var(--gunmetal);
}

.made-with {
  font-size: 30px;
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  font-weight: 200px;
  text-align: center;
  margin: 20px;

  text-shadow: 0 0 10px var(--gunmetal), 0 0 20px var(--gunmetal),
    0 0 40px var(--gunmetal), 0 0 80px var(--gunmetal),
    0 0 160px var(--gunmetal);
}
