* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Correct the typo in 'border' to 'border-box' */
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #3b79c9;
  --main-color: #223644;
  --dark-main-color: #1c2e3b;
  --secondary-color: #ffffff;
  --subtitles: #595852;
  --titles: black;
  --width: 1200px;
}


/* .page {
  background-image: url(../assets/nature-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
} */

body {
  background-color: #F5F5F5;
}

/* navbar */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

/* About Us */

.about {
  padding: 78px 0px;
}

.about div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about div a {
  font-size: 40px;
  font-weight: 600;
  color: white;
  --gunmetal: rgb(59, 120, 200);
  background: var(--gunmetal);
  padding: 80px;
  padding-bottom: 200px;
  border-radius: 20px;
  margin: 35px;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 600px) {
  .about div a {
    padding: 40px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1650px) {
  .home-content {
    width: 1400px;
  }
}

@media screen and (max-width: 1450px) {
  .home-content {
    width: 1200px;
  }
}
