* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Correct the typo in 'border' to 'border-box' */
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #3b79c9;
  --main-color: #223644;
  --dark-main-color: #1c2e3b;
  --secondary-color: #ffffff;
  --subtitles: #595852;
  --titles: black;
  --width: 1200px;
}


.page {
  background-image: url(../assets/nature-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}


/* navbar */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}


nav {
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

nav ul li a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.25s ease-in-out;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
  color: var(--primary-color);
}
.fixed {
  height: 60px;
}
.new-nav {
  background-color: var(--secondary-color);
  color :black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  transition: background-color 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.new-nav ul li a {
  color: var(--titles);
}


/* About Us */

.about {
  padding: 78px 0px;
}

.about div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about div a {
  font-size: 40px;
  font-weight: 600;
  color: white;
  --gunmetal: rgb(59, 120, 200);
  background: var(--gunmetal);
  padding: 80px;
  padding-bottom: 200px;
  border-radius: 20px;
  margin: 35px;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 600px) {
  .about div a {
    padding: 40px;
    padding-bottom: 100px;
  }
}

/* Start Footer */

footer .container {
  max-width: var(--width);
  padding: 10px;
}

footer {
  background-color: var(--main-color);
}

/* [1] Start Upper-Footer */

footer .upper-footer {
  height: 350px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .upper-footer .container {
  /* max-width: var(--width); */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .upper-footer .container .some-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

footer .upper-footer p {
  color: white;
  /* font-size: 1.2rem; */
  margin-bottom: 10px;
  width: 85%;
}
@media (max-width: 800px) {
  footer .upper-footer p {
    width: unset;
  }
}

footer .upper-footer p:first-of-type {
  text-transform: uppercase;
}

footer .upper-footer p:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

footer .upper-footer button {
  margin: 20px;
  color: white;
  outline: none;
  background-color: transparent;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 50px;
  border: 2px white solid;
  transition: 0.3s ease-in-out;
}

footer .upper-footer button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

/* [1] End Upper Footer */

/* [2] Start Mid Footer */

footer .mid-footer {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .mid-footer .container {
  margin: 20px auto;
  /* width: var(--width); */
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

footer .mid-footer .container > div {
  margin: 50px;
}

footer .mid-footer .container .footer-brand p {
  margin-top: 20px;
  color: white;
  font-size: 1.1rem;
}

footer .mid-footer .container .footer-contact  h4 {
  color: white;
  font-weight: normal;
  margin-bottom: 40px;
  position: relative;
}

footer .mid-footer .container .footer-contact  h4::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 20px;
}

footer .mid-footer .footer-contact p {
  color: white;
  max-width: 200px;
  margin-bottom: 20px;
}

footer .mid-footer ul {
  list-style-type: none;
}

footer .mid-footer ul li {
  margin: 20px 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .mid-footer ul li a{
  margin-left: 5px;
  color: white;
  text-decoration: none;
}

footer .mid-footer ul li a span {
  display: inline-block;
  width: 5px;
}

footer .mid-footer .footer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

footer .mid-footer .footer-form p {
  color: white;
  max-width: 200px;
  margin-bottom: 20px;
}

footer .mid-footer .footer-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .mid-footer form input,
footer .mid-footer form button {
  width: 100%;
  margin: 5px;
  border-radius: 30px;
  padding: 12px 30px;
  outline: none;
  border: 0;
}

footer .mid-footer form button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

footer .mid-footer form button:hover {
  background-color: rgba(255, 255, 255, .2);
}


/* [2] End Mid Footer */

/* [3] Start Lower-Footer */

footer .lower-footer {
  height: 60px;
  background-color: var(--dark-main-color);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer .lower-footer p {
  margin: 20px;
}

footer .lower-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .lower-footer ul li {
  position: relative;
  margin: 20px;
  transition: 0.3s ease-in-out;
}

footer .lower-footer a {
  text-decoration: none;
  color: inherit;
}

footer .lower-footer ul li:hover {
  transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* [3] Start Lower-Footer */

/* End Footer */

/* [3] Start Lower-Footer */

footer .lower-footer {
  background-color: var(--dark-main-color);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer .lower-footer p {
  margin: 20px;
}

footer .lower-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .lower-footer ul li {
  position: relative;
  margin: 20px;
  transition: 0.3s ease-in-out;
}

footer .lower-footer a {
  text-decoration: none;
  color: inherit;
}

footer .lower-footer ul li:hover {
  transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* [3] Start Lower-Footer */

@media screen and (max-width: 1065px) {
  .footer-form {
    grid-column: span 2;
  }
  .upper-footer .container {
    flex-direction: column;
  }
  footer .container {
    max-width: none;
  }
}

@media screen and (max-width: 714px) {
  .footer-form {
    grid-column: span 1;
  }
  footer .lower-footer {
    flex-direction: column;
  }
}

/* End Footer */

@media screen and (max-width: 1650px) {
  .home-content {
    width: 1400px;
  }
}

@media screen and (max-width: 1450px) {
  .home-content {
    width: 1200px;
  }
}
