* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #3b79c9;
  --main-color: #223644;
  --dark-main-color: #1c2e3b;
  --secondary-color: #ffffff;
  --subtitles: #595852;
  --titles: black;
  --width: 1200px;
}

/* navbar */

nav {
  background-color: var(--primary-color);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
}

.fixed {
  height: 60px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

nav ul li a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.25s ease-in-out;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
  color: var(--titles);
}

/* About Us */

.aboutbody {
  --gunmetal: rgb(240, 242, 239);
  background-color: var(--gunmetal);
}

.about {
  width: 100%;
  padding: 78px 0px;
}

.about img {
  margin-bottom: 50px;
  /*
    margin-top: 10px;
  */
  height: 400px;
  width: auto;
  border-radius: 120px;
}

.abt-text {
  width: 500px;
}

.abt-text h1 {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.abt-text h1 span {
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  letter-spacing: 1px;
  font-size: 60px;
}

.abt-text p {
  color: white;
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.connectbtn {
  display: inline-block;
  --gunmetal: rgb(59, 120, 200);
  background-color: var(--gunmetal);
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.4s;
  border: 2px solid transparent;
  letter-spacing: 1px;
}

.connectbtn:hover {
  background-color: transparent;
  background-color: var(--gunmetal);
  border: 2px solid var(--gunmetal);
  transform: scale(1.1);
}

.connect-section {
  margin-top: 26px;
}

.social-icons a {
  height: 40px;
  width: 40px;
  margin: 4px;
  font-size: 30px;
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social a {
  font-size: 25px;
  margin: 4px;
  height: 40px;
  width: 40px;
  --gunmetal: rgb(59, 120, 200);
  color: var(--gunmetal);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: ease 0.3s;
}

.social a:hover {
  transform: scale(1.2);
}

/* responsive */

@media only screen and (max-width: 800px) {
  .about img {
    margin-top: 230px;
    width: 300px;
    border-radius: 100px;
  }

  .abt-text h1 {
    font-size: 50px;
  }

  .abt-text p {
    font-size: 20px;
  }

  .main {
    flex-direction: column;
  }

  .abt-text {
    width: 100%;
    text-align: center;
  }

  .connectbtn {
    margin: 0 auto;
    display: block;
  }

  .social-icons {
    margin: 0 auto;
    display: block;
  }

  .social-icons a {
    margin: 0 10px;
  }

  .social {
    margin: 0 auto;
    display: block;
  }

  .social a {
    margin: 0 10px;
  }
}

/* Start Footer */

footer .container {
  max-width: var(--width);
  padding: 10px;
}

footer {
  /*
    position: fixed;
    width: 100%;
    bottom: 0;
  */
  /*
    i need to make the end of the footer to be at the end of the page
    and the page to be scrollable 
  */
  background-color: var(--main-color);
}

/* [1] Start Upper-Footer */

footer .upper-footer {
  height: 300px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .upper-footer .container {
  /* max-width: var(--width); */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .upper-footer .container .some-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

footer .upper-footer p {
  color: white;
  /* font-size: 1.2rem; */
  margin-bottom: 10px;
  width: 85%;
}
@media (max-width: 800px) {
  footer .upper-footer p {
    width: unset;
  }
}

footer .upper-footer p:first-of-type {
  text-transform: uppercase;
}

footer .upper-footer p:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

footer .upper-footer button {
  margin: 20px;
  color: white;
  outline: none;
  background-color: transparent;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 50px;
  border: 2px white solid;
  transition: 0.3s ease-in-out;
}

footer .upper-footer button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

/* [1] End Upper Footer */

/* [3] Start Lower-Footer */

footer .lower-footer {
  height: 60px;
  background-color: var(--dark-main-color);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer .lower-footer p {
  margin: 20px;
}

footer .lower-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .lower-footer ul li {
  position: relative;
  margin: 20px;
  transition: 0.3s ease-in-out;
}

footer .lower-footer a {
  text-decoration: none;
  color: inherit;
}

footer .lower-footer ul li:hover {
  transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* [3] Start Lower-Footer */

/* End Footer */

/* [3] Start Lower-Footer */

footer .lower-footer {
  background-color: var(--dark-main-color);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer .lower-footer p {
  margin: 20px;
}

footer .lower-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .lower-footer ul li {
  position: relative;
  margin: 20px;
  transition: 0.3s ease-in-out;
}

footer .lower-footer a {
  text-decoration: none;
  color: inherit;
}

footer .lower-footer ul li:hover {
  transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* [3] Start Lower-Footer */

@media screen and (max-width: 1065px) {
  .footer-form {
    grid-column: span 2;
  }
  .upper-footer .container {
    flex-direction: column;
  }
  footer .container {
    max-width: none;
  }
  footer .upper-footer {
    height: 430px;
  }
  footer .lower-footer {
    height: 80px;
  }
}

@media screen and (max-width: 714px) {
  .footer-form {
    grid-column: span 1;
  }
  footer .lower-footer {
    flex-direction: column;
  }
}

/* End Footer */

@media screen and (max-width: 1650px) {
  .home-content {
    width: 1400px;
  }
}

@media screen and (max-width: 1450px) {
  .home-content {
    width: 1200px;
  }
}
