* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --trans-time: .5s;
  --my-transition: var(--trans-time) ease-in-out;
  --primary-color: #588CD0;
  --card-cont-size: 400px; /* * sqrt(2) */
  --card-size: calc(var(--card-cont-size) * .7);
  --half-card-size: calc(var(--card-size) * .6);
  --ball-space: calc(var(--card-size) / 2 + 30);
  --p-movementDown: calc(var(--card-cont-size) * .4);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.all-cards {
  width: 90%;
  /* height: 1200px; */
  display: grid;
  margin: 50px auto 0 auto;
  padding-bottom: 70px;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1275px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 855px) {
  .all-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}


a {
  color: unset;
  text-decoration: none;
}

.card-container{
  margin: 30px auto;
  height: calc(var(--card-cont-size) + 50px);
  width: var(--card-cont-size);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx {
  color: white;
  font-size: 2rem;
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  background-color: var(--primary-color);
  border-radius: 40px;
  transition: var(--my-transition);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .first-img {
  position: absolute;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* visibility: hidden; */
}

.card .first-img img {
  position: absolute;
  border-radius: 40px;
  top: -100px;
  left: -100px;
  width: 200%;
  height: 200%;
  filter: blur(60px);
}

.card .second-img {
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}

.card .second-img img{
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0px);
}

.card-container:hover .second-img img {
  transform: rotate(-45deg);
  /* visibility: visible; */
}

.card-container:hover .first-img img {
  transform: rotate(-45deg);
  visibility: visible;
}

.card-container p {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  transition: var(--my-transition);
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 12px 30px;
  position: relative;
  top: 0;
  left: 0;
}

.card-container:hover p {
  transform: translate(var(--p-movementDown), var(--p-movementDown))  rotate(-45deg);
}

.card-container:hover .card {
  transform: rotate(45deg);
}

.card-container:hover .card-container > a {
  transform: scale(.5);
}

.card-container:hover .icon1 { /*(size / 2 + 30)*/
  transform: translate(calc(var(--half-card-size)), calc(-1 * var(--half-card-size)));
}

.card-container:hover .icon2 {
  transform: translate(calc(var(--half-card-size)), calc(var(--half-card-size)));
}

.card-container:hover .icon3 { /*(size / 2 + 30)*/
  transform: translate(calc(-1 * var(--half-card-size)), calc(-1 * var(--half-card-size)));
}

.card-container:hover .icon4 { /*(size / 2 + 30)*/
  transform: translate(calc(-1 * var(--half-card-size)), calc(var(--half-card-size)));
}

.card-container .ball {
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transition: var(--my-transition);
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}