
.contact-us{
    width: 50% ;
    height: 600px;
    max-width: 800px;;
    min-width: 400px;
    margin: 10% auto;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 0 10px var(--primary-color);
}

body{
    background-image: url("../assets/contact1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
  
}

.contact-us ::placeholder{
    color: var(--primary-color);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

.contact-us form input , 
.contact-us form textarea ,
.contact-us button {
    
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    height: 40px;
    margin: 5% auto;
    padding-left:10px;
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
}


.contact-us form textarea{
    max-height: 100px;
    min-height: 40px;

}

.contact-us form input:focus ,
.contact-us form textarea:focus  {
    outline: none;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px var(--primary-color);
    font-size: 20px;
}


.contact-us button{
    background-color: var(--primary-color);
    color: #ccc;
    font-size: 20px;
    margin: 50px auto;
    cursor: pointer;
    max-height: 100px;
}

.contact-us h1{
    text-align: center;
  
    font-size: 50px;
    color: var(--primary-color);
    margin: 20px auto;
}