:root{
    --primary-color: #3b79c9;
    --main-color: #223644;
    --dark-main-color: #1C2E3B;
    --secondary-color: #ffffff;
    --subtitles: #595852;
    --titles:black;
}

.city-details-background{
    margin: 0;
    padding: 10px;
}

.city-album-background1{
    background-color: #d7e5ee;
    margin: 0;
    padding: 50px;
}

.city-album-background2{
    margin: 0;
    padding: 50px;
}

.city-album-background3{
    background-color: #d7e5ee;
    margin: 0;
    padding: 50px;
}

.destination-details{
    max-width: 1500px;
    transform: translateY(150px);
    opacity: 0;
}

.destination-details.active{
    max-width: 1500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    width: 90%;
    height: auto;
    overflow: hidden;
    transition: 1s all ease;
    transform: translateY(0);
    opacity: 1;
}

.city-pic{
    width: 300px;
    height: auto;
    border-radius: 5px;
    float: right;
    margin: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.city-description h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.city-description p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--subtitles);
}

.details li{
    font-size: 19px;
    font-weight: bold;
    color: var(--subtitles);
}

.dest-album h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.dest-album p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--subtitles);
}


.dest-album{
    max-width: 1300px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}


.dest-album img{
    width: 500px;
    height: auto;
    margin: 0 20px;
    border-radius: 5px;
    border: 2px solid #000000;
    display: block;
    
    
}

.dest-album.active{
    margin: 0 auto;
    max-width: 1300px;
    transform: translateY(0);
    opacity: 1;
}