* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.navbar{
    background-color: #164A4A;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s;
}

.navbar a:hover{
    transform: scale(1.06);
    font-weight: bold;
}

.header {
    height: 100%;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.header-photo{
    grid-area: 1 / 1 / 13 / 13;
    height: 100%;
    width: 100%;
}


.header-text{
    grid-area: 2 / 4 / 4 / 10;
    width: fit-content;
    margin: auto;
}

.header-text h1{
    background-color: wheat;
    padding: 10px;
    color: #164A4A;
    font-size: 60px;
    font-weight: bold;
    transition: all .3s;
    margin: 0;
}

.header-text p{
    background-color: wheat;
    padding: 10px;
    color: #164A4A;
    font-size: 25px;
    font-weight: bold;
}

.header-button{
    grid-area: 4 / 6 / span 1 / span 2;
    margin: auto;
    background-color: #164A4A;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    transition: all .3s;
}

.header-button:hover{
    background-color: wheat;
    color: #164A4A;
    transform: scale(1.06);
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0 20px;
}

.services-title{
    font-size: 45px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.services-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0 20px;
}

.services-container p{
    font-size: 22px;
    color: black;
    word-spacing: 3px;
    margin-bottom: 20px;
}

.travel-services, .hotel-services{
    display: grid;
    grid-template-columns: 500px 150px;
    grid-template-rows: 250px 65px;
    background-color: #fff8f8;
    padding: 40px;
    width: 50%;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 20px 20px;
    border: 1px solid rgb(188, 186, 186);
    transition: all .3s;
}

.travel-services:hover, .hotel-services:hover{
    transform: scale(1.006);
}

.service-card-text{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
    display: flex;
    align-items: start;
    justify-content: start;
}

.hotel-services-title, .travel-services-title{
    font-size: 30px;
    color: black;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.icon{
    padding: 10px;
}

.service-button{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all .3s;
}

.service-button:hover{
    background-color: #164A4A;
    color: white;
    transform: scale(1.06);
}

.Platinum{
    background-image: url(../assets/Platinum.jpg);
}
.Gold{
    background-image: url(../assets/Gold.jpg);
}
.Silver{
    background-image: url(../assets/Silver.jpg);
}
.Bronze{
    background-image: url(../assets/Bronze.jpg);
}


.Package{
    display:fixed;
    padding-left: 200px;
}

.Package div{
    width: 80%;
    height : 200px;
    background-size: 400px 200px;
    background-repeat: no-repeat; 
}



.Package h1{
    padding-left: 360px;
    color : rgba(2, 67, 207, 0.767)
}
.Package h2{
    padding-left: 480px;
    color :rgba(2, 67, 207, 0.767);
}


.Package ul{
    list-style-position: inside;
    padding-left: 480px;
    color:rgb(243, 35, 156);
}


.Package div:hover {
    transform:scale(1.008);
    transition: 0.6s;
    cursor: pointer;
  
}


.Package div{
    border-color: rgba(73, 117, 240, 0.336);
    border-style:solid;
    border-radius: 10%/ 90%;

}


.learn-more{
    font-size:20px;
    border-style:solid;
    border-radius: 10%/ 90%;
    border-color: rgba(73, 117, 240, 0.336);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    color :rgb(243, 35, 156);
   
}

.learn-more:hover{
    transform:scale(1.008);
    transition: 0.6s;
    cursor: pointer;
}










.footer {
    background-color: #164A4A;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0 10px 0;
    /* margin-top: auto; */
    align-self: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:first center;
    justify-content: center;
}

.upper-footer{
    display: flex;
    flex-direction: row;
    align-items:first baseline;
    justify-content: center;
    width: 100%;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: fit-content;
    float: right;
    padding: 0 10%;
}

.footer-links-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 18px;
}

.footer a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 0;
    transition: 0.3s;
    
}

.footer a:hover{
    transform: translateX(15px);
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 10%;
    height: inherit;
}

.footer-underline{
    width: 35%;
}

.lower-footer{
    display: flex;
    flex-direction: row;
    align-items:first baseline;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    font-size: 14px;
}

