* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #3b79c9;
    --main-color: #223644;
    --dark-main-color: #1C2E3B;
    --secondary-color: #ffffff;
    --subtitles: #595852;
    --titles:black;
    --width: 1200px;
}

body , html {
    font-family: 'Roboto', sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 1300px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
nav {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 60px;
}
.fixed {
    height: 60px;
}
.new-nav {
    background-color: var(--secondary-color);
    color :black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.new-nav ul li a {
    color: var(--titles);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    color: var(--primary-color);
}

.Main {
    background-image: url(../assets/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    height: 105vh;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 20px auto;
    text-align: center;
    height: 40%;
}

.title h2 {
    color: var(--secondary-color);
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin: 20px;
}

.title p{
    color: var(--secondary-color);
    font-size: 15px;
    margin: 0;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.book-button , .learn-button{
    background-color:var(--primary-color);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: fit-content;
    transition: 0.3s;
    border-radius: 30px;
}

.learn-button{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.book-button:hover , .learn-button:hover{
    background-color: white;
    color:var(--primary-color);
    transform: scale(1.06);
} 

@media (max-width: 768px) {
    nav ul li a {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 8px;
    }

    .title h2 {
        font-size: 40px;
    }

    .title p {
        margin-bottom: 20px; /* adjust as needed */
    }

    .buttons-group{
        flex-direction: column;
        gap: 20px;
    }
}

/* blue search section */
.search-section{ 
    background-color: var(--primary-color);
    padding: 100px 0;
}
.searchForm{
    display: grid;
    width: var(--width);
    margin:  auto;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    align-items: flex-end;
}

.searchForm div {
    margin: 0 auto;
    width: 100%;
    
}

.searchForm div:nth-child(3) input , .searchForm div:nth-child(4) input {
    text-transform: uppercase;
    color : rgb(123, 123, 123);
}

.searchForm div label {
    color: var(--secondary-color);
    font-size: 15px;
    text-transform:capitalize;
    margin-bottom: 10px;
    display: block;
    padding: 0 30px;
}

.searchForm div input , .searchForm button {
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
}

.searchForm button {
    align-self: flex-end;
    border : 2px solid var(--secondary-color);	
    background-color: transparent;
    color: var(--secondary-color);
    transition: 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .searchForm {
        grid-template-columns: repeat(4,1fr);
        width: auto;
        padding: 0 30px;
    }
    .searchForm button {
        grid-column: 1 / -1;
    }
}

@media (max-width: 768px) {
    .searchForm {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .searchForm {
        grid-template-columns: 1fr;
    }
}


/* packages ... */
#package{
    padding-top: 90px;
}

.package-card1 {
    background-image: url(../assets/package-card1.jpg);
}
.package-card2 {
    background-image: url(../assets/package-card2.jpg);
}
.package-card3 {
    background-image: url(../assets/package-card3.jpg);
}


.package-card1,
.package-card2,
.package-card3{
    width: var(--width);
    border-radius: 15px ;
    height : 300px;
    background-repeat: no-repeat;
    background-size: 330px 300px;
    display: grid;
    grid-template-columns: 330px auto 250px;
    background-color: hsl(214, 56%, 58%);
    margin: 30px auto 0px auto;
    line-height: 1.4;
}

.package-contains{
    padding-left:30px;
    padding-top: 25px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(225, 8%, 42%);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-rows: auto 300px;

    max-height: 300px;
}

.package-title{
    display:block;
    margin-bottom: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(206, 34%, 20%);
    font-size: 30px;
} 



/* meta  */
.meta p{
    display:inline-block;

}
.meta{
    background-color:rgb(255, 255, 255);
    text-align: center;
    display: block;
    width: 300px;
    height: 50px;
    margin: 25px ;
    border-radius: 25px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.15);
   
}

#time ,
#people,
#map{
    color : hsl(214, 56%, 58%);
}

.meta .time ,
.meta .people {
    border-right: solid hsl(206, 34%, 20%) 1.5px;
    padding-right:10px;
    margin-top: 10px;
    margin-right: 10px;
}




/* headings */

.package-heading{
   text-align: center;
   width: 900px;
   margin: 0px auto;
   font-family: "Montserrat", sans-serif;
}


.head3{
   color: hsl(225, 8%, 42%);
   width: 550px;
   margin: auto;
}

.head1{
    color: hsl(214, 57%, 51%);
}

.head1 , 
.head2{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.head2{
    font-weight: 800;
    font-size: calc(18px + 1.6vw);
    color: hsl(206, 34%, 20%);
  
}



/*  package details */


.package-details{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;;
}

#closed-star{
    color: rgb(226, 223, 223);
}

.rating{
    width : 250px;
    text-align: center;
    margin: 50px auto;
}




.price{
    width: 250px;
    text-align: center;
    line-height: 20px;;
    font-size: 12px;;
}
.dollar{
    font-size: calc(18px + 1.6vw);
    font-weight: 800;
    margin-right: 0px;
}


.book-now{
    width:150px;
    height:50px;
    margin: 50px;
    margin-top: 10px;
    border-radius: 100px;
    color: white;
    background-color: hsl(214, 56%, 58%);
    font-size: 16px;
    text-transform: uppercase ;
    border: solid white 1px;
    transition: 0.25s ease-in-out;
}

.book-now:hover{
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}



.view-all-packages{
    color:white;
    text-align: center;
    background-color: hsl(214, 57%, 51%);
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 538px;
    margin-right: 538px;
    margin-top: 50px;
    margin-bottom: 140px;
    border-radius: 54px;
}

.view-all-packages:hover{
    background-color:hsl(214, 72%, 33%);
    cursor: pointer;
}

.destinations{
    padding-bottom: 50px;
    margin: 0 auto;
}

.uncover_place{
    color: hsl(214, 57%, 51%);
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    margin-top: 65px;
    font-size: 16px;
    margin-bottom: 10px;
}

.three_heads{
    text-align: center;
    width: 900px;
    margin: 0px auto;
    font-family: "Montserrat", sans-serif;
 }

.destinations h2{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: calc(18px + 1.6vw);
    color: hsl(206, 34%, 20%);
}

.imgcountries .photo{
    border-radius: 25px;
    position: relative;
}

.imgcountries .photo img{
    width: 100%;
    margin: 20px auto;
    height: 425px;
    border-radius: 25px;
}

.imgcountries{
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 30px;
    width: var(--width);
}

.name{
    background-color: white;
    width: 300px;
    height: 140px;
    border-radius: 25px;
    position: absolute;
    bottom: 9%;
    left: 10%;
}

.italy, .dubai, .japan{
    color: hsl(214, 57%, 51%);
    padding-top: 21px;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: small;
}

.place{
    color: hsl(206, 34%, 20%);
    padding-top: 10px;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.statement2{
    color: hsl(225, 8%, 42%);
    padding-top: 8px;
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
}

.review{
    background-color:  hsl(214, 57%, 51%);
    width : 120px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -90%;
    left: 50%;
}

#stars{
    color: white;
}

.more_destination{
    background-color:  hsl(214, 57%, 51%);
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 480px;
    margin-right: 480px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 50px;
}

.more_destination:hover{
    background-color:hsl(214, 72%, 33%);
    cursor: pointer;
}

.statement1{
    color: hsl(225, 8%, 42%);
    width: 550px;
    margin: auto;
}
/* Start Footer */

footer {
    height: 900px;
    background-color: var(--main-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr) auto;
}

/* [1] Start Upper-Footer */

footer .upper-footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .upper-footer .container {
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .upper-footer .container .some-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

footer .upper-footer p {
    color: white;
    /* font-size: 1.2rem; */
    margin-bottom: 10px;
    width: 85%;
}

footer .upper-footer p:first-of-type {
    text-transform: uppercase;
}

footer .upper-footer p:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

footer .upper-footer button {
    margin: 20px;
    color: white;
    outline: none;
    background-color: transparent;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 2px white solid;
    transition: 0.3s ease-in-out;
}

footer .upper-footer button:hover {
    background-color: rgba(255, 255, 255, .2);
    transform: scale(1.1);
}

/* [1] End Upper Footer */


/* [2] Start Mid Footer */

footer .mid-footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .mid-footer .container {
    margin: 20px auto;
    width: var(--width);
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

footer .mid-footer .container > div {
    margin: 0 50px;
}

footer .mid-footer .container .footer-brand p {
    margin-top: 20px;
    color: white;
    font-size: 1.1rem;
}

footer .mid-footer .container .footer-contact  h4 {
    color: white;
    font-weight: normal;
    margin-bottom: 40px;
    position: relative;
}

footer .mid-footer .container .footer-contact  h4::after {
    content: "";
    height: 2px;
    width: 50px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 20px;
}

footer .mid-footer .footer-contact p {
    color: white;
    max-width: 200px;
    margin-bottom: 20px;
}

footer .mid-footer ul {
    list-style-type: none;
}

footer .mid-footer ul li {
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .mid-footer ul li a{
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

footer .mid-footer ul li a span {
    display: inline-block;
    width: 5px;
}

footer .mid-footer .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

footer .mid-footer .footer-form p {
    color: white;
    max-width: 200px;
    margin-bottom: 20px;
}

footer .mid-footer .footer-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .mid-footer form input,
footer .mid-footer form button {
    width: 100%;
    margin: 5px;
    border-radius: 30px;
    padding: 12px 30px;
    outline: none;
    border: 0;
}

footer .mid-footer form button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

footer .mid-footer form button:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* [2] End Mid Footer */


/* [3] Start Lower-Footer */

footer .lower-footer {
    background-color: var(--dark-main-color);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer .lower-footer p {
    margin: 20px;
}

footer .lower-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .lower-footer ul li {
    position: relative;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

footer .lower-footer a {
    text-decoration: none;
    color: inherit;
}

footer .lower-footer ul li:hover {
    transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
}

/* [3] Start Lower-Footer */


/* End Footer */

/* [3] Start Lower-Footer */

footer .lower-footer {
    background-color: var(--dark-main-color);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer .lower-footer p {
    margin: 20px;
}

footer .lower-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .lower-footer ul li {
    position: relative;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

footer .lower-footer a {
    text-decoration: none;
    color: inherit;
}

footer .lower-footer ul li:hover {
    transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
}

/* [3] End Lower-Footer */

@media screen and (max-width: 1199px) {
    .footer-form {
        grid-column: span 2;
    }
    .upper-footer .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 814px) {
    .footer-form {
        grid-column: span 1;
    }
    footer .lower-footer {
        flex-direction: column;
    }
}

/* End Footer */

@media screen and (max-width: 1650px) {
    .home-content{
        width: 1400px;
    }
}

@media screen and (max-width: 1450px) {
    .home-content{
        width: 1200px;
    }
}