* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #3b79c9;
    --main-color: #223644;
    --dark-main-color: #1C2E3B;
    --secondary-color: #ffffff;
    --subtitles: #595852;
    --titles:black;
    --width: 1200px;
}

body , html {
    font-family: 'Roboto', sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
    max-width: var(--width);
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
nav {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 60px;
}
.fixed {
    height: 60px;
}
.new-nav {
    background-color: var(--secondary-color);
    color :black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.new-nav ul li a {
    color: var(--titles);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    color: var(--primary-color);
}

.Main {
    background-image: url(../assets/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    height: 800px;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 20px auto;
    text-align: center;
    height: 40%;
}

.title h2 {
    color: var(--secondary-color);
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin: 20px;
}

.title p{
    color: var(--secondary-color);
    font-size: 15px;
    margin: 0;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.book-button , .learn-button{
    background-color:var(--primary-color);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: fit-content;
    transition: 0.3s;
    border-radius: 30px;
}

.learn-button{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.book-button:hover , .learn-button:hover{
    background-color: white;
    color:var(--primary-color);
    transform: scale(1.06);
} 

@media (max-width: 768px) {
    nav ul li a {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 8px;
    }

    .title h2 {
        font-size: 40px;
    }

    .title p {
        margin-bottom: 20px; /* adjust as needed */
    }

    .buttons-group{
        flex-direction: column;
        gap: 20px;
    }
}

/* blue search section */
.search-section{ 
    background-color: var(--primary-color);
    padding: 100px 0;
}
.searchForm{
    display: grid;
    margin:  auto;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    align-items: flex-end;
}

.searchForm div {
    margin: 0 auto;
    width: 100%;
    
}

.searchForm div:nth-child(3) input , .searchForm div:nth-child(4) input {
    text-transform: uppercase;
    color : rgb(123, 123, 123);
}

.searchForm div label {
    color: var(--secondary-color);
    font-size: 15px;
    text-transform:capitalize;
    margin-bottom: 10px;
    display: block;
    padding: 0 30px;
}

.searchForm div input , .searchForm button {
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
}

.searchForm button {
    align-self: flex-end;
    border : 2px solid var(--secondary-color);	
    background-color: transparent;
    color: var(--secondary-color);
    transition: 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .searchForm {
        grid-template-columns: repeat(4,1fr);
    }
    .searchForm button {
        grid-column: 1 / -1;
    }
}

@media (max-width: 768px) {
    .searchForm {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .searchForm {
        grid-template-columns: 1fr;
    }
}


/* packages ... */
#package{
    padding: 90px 15px 0 15px
}

.package-heading{
    text-align: center;
    width: 80%;
    margin: 0px auto;
    font-family: "Montserrat", sans-serif;
}


.head3{
    color: hsl(225, 8%, 42%);
    width: 80%;
    margin: auto;
}

.head1{
    color: hsl(214, 57%, 51%);
}

.head1 , 
.head2{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.head2{
    font-weight: 800;
    font-size: 40px;
    color: hsl(206, 34%, 20%);
}



.package-card1 {
    background-image: url(../assets/package-card1.jpg);
}
.package-card2 {
    background-image: url(../assets/package-card2.jpg);
}
.package-card3 {
    background-image: url(../assets/package-card3.jpg);
}

.package{
    width: 90%;
  

}

.package-card1,
.package-card2,
.package-card3{
    max-width: 1200px;;
    border-radius: 15px ;
    height : 300px;
    display: grid;
    /* margin: auto auto; */
    background-repeat: no-repeat;
    background-size: calc(100% /3) 300px;
    grid-template-columns: calc(100% /3) calc(100% /3) calc(100% /3);
    background-color: hsl(214, 56%, 58%);
    margin: 30px auto ;
    line-height: 1.6;
    transition: 0.6s ease-in-out;

}   


.package-card1:hover,
.package-card2:hover,
.package-card3:hover{
    transform: scale(1.008);
    cursor: pointer;
}

.package-contains{
    height: 300px;
    padding: 3% 3% ;
    background-color: hsl(0, 0%, 98%);
    color: hsl(225, 8%, 42%);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-rows: auto auto;
    max-height: 300px;
   
}

.package-title{
    display:block;
    margin-bottom: .1%;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(206, 34%, 20%);
    font-size: 20px;
} 



/* meta  */
.meta p{
    display:inline-block;

}
.meta{
    background-color:rgb(255, 255, 255);
    text-align: center;
    width: 80%;
    max-width: 100%;
    height: 50px;
    max-height: 70px;;
    padding-top: .5%;
    margin: 1% auto;
    border-radius: 25px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.15);
}

/* icons */
#time ,
#people,
#map{
    color : hsl(214, 56%, 58%);
}

.meta .time ,
.meta .people ,
.meta .map{
    margin: 1% 1%;
}



/*  package details */


.package-details{
    color: white;
    width:100%;
    max-width: 100%;
    margin: 1% auto ;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;;
}

#closed-star{
    color: rgb(226, 223, 223);
}

.rating{
    text-align: center;
    margin: 50px auto;
}




.price{
    text-align: center;
    line-height: 20px;;
    font-size: 12px;;
}
.dollar{
    font-size: calc(18px + 1.6vw);
    font-weight: 800;

}


.book-now{
    width:45%;
    height:50px;
    margin: 3% calc( (100% - 45% )/  2);
    border-radius: 100px;
    color: white;
    background-color: hsl(214, 56%, 58%);
    font-size: 16px;
    text-transform: uppercase ;
    border: solid white 1px;
    transition: 0.25s ease-in-out;
}
.line-vertical{
    display: inline-block;
    margin: 1%;
}
.book-now:hover{
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
    color: white;
}



.view-all-packages{
    width: 200px;
    height:50px;
    color:white;
    text-align: center;
    background-color: hsl(214, 57%, 51%);
    transition: 0.25s ease-in-out;
    text-transform: uppercase;

    margin: auto;
    padding-top:15px;
    border-radius: 54px;
    margin-bottom: 50px;
}

.view-all-packages:hover{
    background-color:hsl(214, 72%, 33%);
    cursor: pointer;
}


@media (max-width: 768px){

    .package-card1,
    .package-card2,
    .package-card3{
        max-width: 80%;
        width: 100%;
        height: auto;
        margin: 50px auto;
        grid-template-columns: 100%;
        background-size: 100% 300px;

     
    }

    .package-contains , 
    .package-details , 
    .package-image{
        height: 300px;
        width: 100%;
        max-width: 100%;
        gap: 20px;
    }

    .book-now{
        width: 45%;
        margin: 20px calc( (100%-45%)/2);
    }
    
} 

@media (max-width: 480px) {
    .package-card1,
    .package-card2,
    .package-card3{
        max-width: 80%;
        width: 100%;
        height: auto;
        margin: 50px auto;
        grid-template-columns: 100%;
        background-size: 100% 300px;

    }

    .package-contains , 
    .package-details , 
    .package-image{
        height: 300px;
        width: 100%;
        max-width: 100%;
        gap: 20px;
    }

    .book-now{
        width: 45%;
        margin: 20px calc( (100%-45%)/2);
    }
    
} 


@media (min-width: 481px) and (max-width: 768px) {
    .destinations{
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .italy, .dubai, .japan{
        color: hsl(214, 57%, 51%);
        padding-top: 21px;
        padding-left: 15px;
        text-transform: uppercase;
        font-size: small;
    }
    
    .place{
        color: hsl(206, 34%, 20%);
        padding-top: 10px;
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
    }

}



@media (max-width: 480px) {
    .italy, .dubai, .japan{
        color: hsl(214, 57%, 51%);
        padding-top: 21px;
        padding-left: 15px;
        text-transform: uppercase;
        font-size: small;
    }
    
    .place{
        color: hsl(206, 34%, 20%);
        padding-top: 10px;
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
    }

}

.imgcountries .photo:hover{
    transform: scale(1.008);
}

.imgcountries .container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.imgcountries .container a{
    margin: 10px 5px;
    width: 350px;
}

.imgcountries .photo{
    border-radius: 25px;
    position: relative;
}

.imgcountries .photo img{
    width: 100%;
    margin: 20px auto;
    height: 425px;
    border-radius: 25px;
}

.name{
    background-color: white;
    height: 140px;
    border-radius: 25px;
    position: absolute;
    bottom: 9%;
    left: 20%;
    right: 5%;
}


.more_destination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_destination button {
    text-align: center;
    background-color:  hsl(214, 57%, 51%);
    text-transform: uppercase;
    color: white;
    width: 200px;
    padding: 12px 30px;
    border-radius: 50px;
    outline: none;
    border: 0;
    transition: 0.3s ease-in-out;
}

.more_destination button:hover{
    transform: scale(1.05);
    background-color:hsl(214, 72%, 33%);
    cursor: pointer;
}

.destinations h2{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 37px;
    color: #223544;
}

.review{
    background-color:  hsl(214, 57%, 51%);
    width : 120px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 2%;
    right: 5%;
}

.name .cont {
    position: relative;
}


.three_heads{
    text-align: center;
    margin: 0px auto;
    font-family: "Montserrat", sans-serif;
}

.uncover_place{
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    margin-top: 65px;
    font-size: 16px;
    margin-bottom: 10px;
}

.three_heads .statement1{
    color: hsl(225, 8%, 42%);
    width: 550px;
    margin: auto;
}

.statement2{
    color: hsl(225, 8%, 42%);
    padding-top: 8px;
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
}

#stars{
    color: white;
}

@media (max-width: 600px) {
    .three_heads .statement1 {
        width: unset;
    }
}

@media (min-width: 769px){
    .destinations{
        padding-bottom: 50px;
        margin: 0 auto;
    }
    
    .italy, .dubai, .japan{
        color: hsl(214, 57%, 51%);
        padding-top: 21px;
        padding-left: 15px;
        text-transform: uppercase;
        font-size: small;
    }
    
    .place{
        color: hsl(206, 34%, 20%);
        padding-top: 10px;
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
    }
    
}
/* Start Footer */

footer .container {
    max-width: var(--width);
    padding: 10px;
}

footer {
    height: 900px;
    background-color: var(--main-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr) auto;
}

/* [1] Start Upper-Footer */

footer .upper-footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .upper-footer .container {
    /* max-width: var(--width); */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .upper-footer .container .some-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

footer .upper-footer p {
    color: white;
    /* font-size: 1.2rem; */
    margin-bottom: 10px;
    width: 85%;
}

footer .upper-footer p:first-of-type {
    text-transform: uppercase;
}

footer .upper-footer p:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

footer .upper-footer button {
    margin: 20px;
    color: white;
    outline: none;
    background-color: transparent;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 2px white solid;
    transition: 0.3s ease-in-out;
}

footer .upper-footer button:hover {
    background-color: rgba(255, 255, 255, .2);
    transform: scale(1.1);
}

/* [1] End Upper Footer */


/* [2] Start Mid Footer */

footer .mid-footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .mid-footer .container {
    margin: 20px auto;
    /* width: var(--width); */
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

footer .mid-footer .container > div {
    margin: 50px;
}

footer .mid-footer .container .footer-brand p {
    margin-top: 20px;
    color: white;
    font-size: 1.1rem;
}

footer .mid-footer .container .footer-contact  h4 {
    color: white;
    font-weight: normal;
    margin-bottom: 40px;
    position: relative;
}

footer .mid-footer .container .footer-contact  h4::after {
    content: "";
    height: 2px;
    width: 50px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 20px;
}

footer .mid-footer .footer-contact p {
    color: white;
    max-width: 200px;
    margin-bottom: 20px;
}

footer .mid-footer ul {
    list-style-type: none;
}

footer .mid-footer ul li {
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .mid-footer ul li a{
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

footer .mid-footer ul li a span {
    display: inline-block;
    width: 5px;
}

footer .mid-footer .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

footer .mid-footer .footer-form p {
    color: white;
    max-width: 200px;
    margin-bottom: 20px;
}

footer .mid-footer .footer-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .mid-footer form input,
footer .mid-footer form button {
    width: 100%;
    margin: 5px;
    border-radius: 30px;
    padding: 12px 30px;
    outline: none;
    border: 0;
}

footer .mid-footer form button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

footer .mid-footer form button:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* [2] End Mid Footer */


/* [3] Start Lower-Footer */

footer .lower-footer {
    background-color: var(--dark-main-color);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer .lower-footer p {
    margin: 20px;
}

footer .lower-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .lower-footer ul li {
    position: relative;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

footer .lower-footer a {
    text-decoration: none;
    color: inherit;
}

footer .lower-footer ul li:hover {
    transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
}

/* [3] Start Lower-Footer */


/* End Footer */

/* [3] Start Lower-Footer */

footer .lower-footer {
    background-color: var(--dark-main-color);
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer .lower-footer p {
    margin: 20px;
}

footer .lower-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .lower-footer ul li {
    position: relative;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

footer .lower-footer a {
    text-decoration: none;
    color: inherit;
}

footer .lower-footer ul li:hover {
    transform: scale(1.05);
}

footer .lower-footer ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
}

/* [3] Start Lower-Footer */

@media screen and (max-width: 1065px) {
    .footer-form {
        grid-column: span 2;
    }
    .upper-footer .container {
        flex-direction: column;
    }
    footer .container {
        max-width: none;
    }
}

@media screen and (max-width: 714px) {
    .footer-form {
        grid-column: span 1;
    }
    footer .lower-footer {
        flex-direction: column;
    }
}

/* End Footer */

@media screen and (max-width: 1650px) {
    .home-content{
        width: 1400px;
    }
}

@media screen and (max-width: 1450px) {
    .home-content{
        width: 1200px;
    }
}
