#locations h1{
    text-align: center;
    color: black;
}

#type{
    width: 100px;
    text-align: center;
    margin-left: 642px;
    color: black;
    border-radius: 25px;
    padding: 100,100,100,100;
    color: black;
}

#country{
    font-size: 50px;
    color: black;
    margin-bottom: 1%;
}

#locations {
    display:fixed;
    padding-left: 60px;
    padding-right: 60px;
}

#dubai img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#paris img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#turkey img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#india img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#tdubai{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#tparis{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#tturkey{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#tindia{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#luxor img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#alex img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px ;
}

#giza img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#saintcatherine img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 342px;
    border-radius: 25px;
}

#tluxor{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#talex{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#tgiza{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}

#tsaintcatherine{
    font-size: large;
    display: inline-block;
    margin-top: 0%;
}
