.package-card1 {
    background-image: url(../assets/package-card1.jpg);
}
.package-card2 {
    background-image: url(../assets/package-card2.jpg);
}
.package-card3 {
    background-image: url(../assets/package-card3.jpg);
}


.package-card1,
.package-card2,
.package-card3{
    width: 1000px;
    border-radius: 15px ;
    height : 300px;
    background-repeat: no-repeat;
    background-size: 330px 300px;
    display: grid;
    grid-template-columns: 330px 420px 250px;
    background-color: hsl(214, 56%, 58%);
    margin: 30px auto 0px auto;
    line-height: 1.4;
}

.package-contains{
    padding-left:30px;
    padding-top: 25px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(225, 8%, 42%);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-rows: auto 300px;

    max-height: 300px;
}

.package-title{
    display:block;
    margin-bottom: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(206, 34%, 20%);
    font-size: calc(16px + 0.45vw);


} 



/* meta  */
.meta p{
    display:inline-block;

}
.meta{
    background-color:rgb(255, 255, 255);
    text-align: center;
    display: block;
    width: 300px;
    height: 50px;
    margin: 25px ;
    border-radius: 25px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.15);
    padding-top: 10px;
   
}

#time ,
#people,
#map{
    color : hsl(214, 56%, 58%);
}

.meta .time ,
.people {
    border-right: solid hsl(206, 34%, 20%) 1.5px;
    padding-right:10px;
    margin:5px;
}




/* headings */

.package-heading{
   text-align: center;
   width: 900px;
   margin: 0px auto;
   font-family: "Montserrat", sans-serif;
}


.head3{
   color: hsl(225, 8%, 42%);
   width: 550px;
   margin: auto;
}

.head1{
    color: hsl(214, 57%, 51%);
}

.head1 , 
.head2{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.head2{
    font-weight: 800;
    font-size: calc(18px + 1.6vw);
    color: hsl(206, 34%, 20%);
  
}



/*  package details */


.package-details{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;;
}

#closed-star{
    color: rgb(226, 223, 223);
}

.rating{
    width : 250px;
    text-align: center;
    margin: 50px auto;
}




.price{
    width: 250px;
    text-align: center;
    line-height: 20px;;
    font-size: 12px;;
}
.dollar{
    font-size: calc(18px + 1.6vw);
    font-weight: 800;
    margin-right: 0px;
}


.book-now{
    width:150px;
    height:50px;
    margin: 50px;
    margin-top: 10px;
    border-radius: 100px;
    color: white;
    background-color: hsl(214, 56%, 58%);
    font-size: 16px;
    text-transform: uppercase ;
    border: solid white 1px;
    transition: 0.25s ease-in-out;
}

.book-now:hover{
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}



.view-all-packages{
    color:white;
    text-align: center;
    width: 250px;
    background-color: hsl(214, 57%, 51%);
    height:30px;
    padding-top: 5px;
    margin: 50px auto;
    border-radius: 100px;
    transition: 0.25s ease-in-out;
    text-transform: uppercase;
}

.view-all-packages:hover{
    background-color:hsl(214, 72%, 33%);
    cursor: pointer;
}
